<div class="col">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          width = "250px"
          height = "190px"
          object-fit = "contain"
          image-rendering = project.img-rendering
          background-color = project.img-background
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        {% if project.github %}
          <div class="row ml-1 mr-1 p-0">
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          </div>
        {% endif %}
          {% if project.publications %}
            <p class="card-text">Related Publications:</p>
            <ul>
            {% for publication in project.publications %}
              <li>{% cite publication.key %}</li>
            {% endfor %}
            </ul>
          {% endif %}
      </div>
      {% comment %}
      Find the color of your programming language here:
      https://github.com/ozh/github-colors/blob/master/colors.json
      {% endcomment %}
      {% if project.language %}
        <div style="width: 60px;
                    height: 30px;
                    line-height: 30px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-align: center;
                    vertical-align: middle;
                    color: white;
                    background: {{site.langcolors | where: 'lang', project.language | map: 'color' | first}};
                    border-radius: 0px 0px 0px 4px;
                    user-select: none">
          {{project.language}}
        </div>
      {% endif %}
    </div>
  </a>
</div>
